*{
  margin: 0;
  padding: 0;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url("Capture1.png");
    background-color: black;
    background-position: auto;
    background-size: 100%;
    position: fixed;
    background-repeat: no-repeat;
}


.container {
  position: absolute;
  bottom: -3%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}



/* Links inside the navbar */

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: darkblue;
  padding: 14px 16px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 1rem 2rem; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
/*.navbar a:hover, .dropdown:hover {
  background-color: red;
}*/


a:link, a:visited {
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#helpicon{
    border-radius:50rem;
    width:80px;
}


